@font-face {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 700;
    src: local('Cygre'),
        url(../fonts/Cygre-Bold.woff),
        url(../fonts/Cygre-Bold.ttf);
}

@font-face {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    src: local('Cygre'),
        url(../fonts/Cygre-Regular.woff),
        url(../fonts/Cygre-Regular.ttf);
}