@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
.container {
  margin: 0 auto;
  max-width: 1600px;
  padding-left: 70px;
  padding-right: 70px;
}
@media (max-width: 1279px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@media (max-width: 1024px) {
  .col-md-1 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 16.6666666667%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.3333333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 66.6666666667%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 83.3333333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .col-sm-1 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 66.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
html {
  --brend-blue: #0000CD;
  --brend-red: #A52A2A;
  --primary-text: #3D3D3D;
  --secondary-text: #828282;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F5F5F5;
  --stroke: #828282;
}

.color--brend-blue {
  color: var(--brend-blue) !important;
}

.color--brend-red {
  color: var(--brend-red) !important;
}

.color--primary-text {
  color: var(--primary-text) !important;
}

.color--secondary-text {
  color: var(--secondary-text) !important;
}

.color--bg-primary {
  color: var(--bg-primary) !important;
}

.color--bg-secondary {
  color: var(--bg-secondary) !important;
}

.color--stroke {
  color: var(--stroke);
}

.font-h1 {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: var(--primary-text);
}
@media (max-width: 1599px) {
  .font-h1 {
    font-size: 80px;
  }
}
@media (max-width: 1279px) {
  .font-h1 {
    font-size: 70px;
  }
}
@media (max-width: 1024px) {
  .font-h1 {
    font-size: 70px;
  }
}
.font-h2 {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--primary-text);
}
@media (max-width: 1279px) {
  .font-h2 {
    font-size: 50px;
  }
}
.font-t {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--primary-text);
}
.font-s {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--secondary-text);
}
.font-b {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: var(--primary-text);
}
.font-w-r {
  font-weight: 400;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

.header {
  height: 32.7114427861vh;
  padding-bottom: 24.8756218905vh;
}
@media (max-width: 1024px) {
  .header {
    padding-bottom: 14.9253731343vh;
  }
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}
.header__menu {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.cover__block {
  display: flex;
  flex-direction: column;
  row-gap: 31.0945273632vh;
}
.cover__title {
  font-family: Raleway;
  font-size: 184px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  color: var(--primary-text, #3D3D3D);
}
@media (max-width: 1599px) {
  .cover__title {
    font-size: 11.1719vw;
  }
}
@media (max-width: 1279px) {
  .cover__title {
    font-size: 11.7005vw;
  }
}
@media (max-width: 1024px) {
  .cover__title {
    font-size: 12.10937vw;
  }
}
.cover__scroll {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.project {
  padding-top: 150px;
}
@media (max-width: 1024px) {
  .project {
    padding-top: 120px;
  }
}
.project__title {
  padding-bottom: 40px;
}
.project__mySwiper .swiper {
  width: 100%;
  height: 100%;
}
.project__mySwiper .swiper-button-next, .project__mySwiper .swiper-button-prev {
  color: var(--bg-primary);
}
.project__image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.project__description {
  padding-top: 16px;
}/*# sourceMappingURL=style.css.map */