// Обнуление стилей
@import "_clear-styles";

// Сетка сайта
@import "./grid/init";

body {
    background: rebeccapurple;
}

.row {
    margin: 15px 0;
}

.block {
    padding: 20px;
    background: gainsboro;
}

h1 {
    font-size: 40px;
    background: rgb(51, 114, 153);
    color: white;

    @include bp(md) {
        font-size: 28px;
        background: rgb(51, 153, 90);
    }

    @include bp(sm) {
        font-size: 18px;
        background: rgb(153, 51, 134);
    }
}